doctype html
html(lang='en')
  head
    title 每日邮件
  body
    h1 每日三省吾身
    #container.col
      p 今年的目标完成了多少
      p
        | 今天掌握了多少可迁移的技能？

      ul
        li 读书读了吗？
        li 写作技能练习了吗？
        li 锻炼身体了吗？